
*.pyc

Assignments/DigiLab Assignment 1/SOLUTION - DigiLab Assignment 1.ipynb

DigiLab/4 - Unit Commitment/clean_data.ipynb

DigiLab/4 - Unit Commitment/cons_may2022.csv

DigiLab/4 - Unit Commitment/solar_data_full.csv

DigiLab/4 - Unit Commitment/solver_log.txt

Assignments/DigiLab Assignment 2/SOLUTION - DigiLab Assignment 2.ipynb

Assignments/DigiLab Assignment 2/clean_data.ipynb

Assignments/DigiLab Assignment 2/cons_may2022.csv
